html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
}

.content{
    display: flex;
    flex-direction: row;
}

.controls{
    display: flex;
    flex-direction: column;
}

.control{
    color: white;
    height: 70px;
    width: 70px;
    border: 4px solid black;
    border-radius: 5px;
    margin: 10px;
    background-color: darkgray;
}

.control.random{
    background-color: purple;
}

.control.red{
    background-color: red;
}

.control.blue{
    background-color: blue;
}

.control.green{
    background-color: green;
}


.start {
  text-align: center;
}

.content .container{
    display: flex;
    flex-flow: row wrap;
    height: 800px;
    width: 800px;
}

.new_child{
    border: 1px solid black;
}